<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
@model AnnuityPaymentCalculation.Models.AnnuityPaymentModel.AnnuityPaymentInputData

<div class="container">
    <form class="well form-horizontal needs-validation" asp-controller="Payment" asp-action="AdvancedCreditData" method="post" novalidate>
        <div class="form-group">
            <label class="col-md-4 control-label">Сумма займа</label>
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input name="LoanAmount" class="form-control" value="" type="text" asp-for="LoanAmount" placeholder="от 10000 до 10000000" value="" required>
                </div>
                <div><span asp-validation-for="LoanAmount" class="text-danger"></span></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Срок кредитования в днях</label>
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input name="LoanTerm" class="form-control" value="" type="text" asp-for="LoanTerm" placeholder="от 6 до 600" value="" required>
                </div>
                <div><span asp-validation-for="LoanTerm" class="text-danger"></span></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Процентная ставка в день</label>
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input name="Rate" class="form-control" value="" type="text" asp-for="Rate" placeholder="от 1 до 100" value="" required>
                </div>
                <div><span asp-validation-for="Rate" class="text-danger"></span></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Шаг платежа</label>
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input name="PaymentStep" class="form-control" value="" type="text" asp-for="PaymentStep" placeholder="от 1 до 101" value="" required>
                </div>
                <div><span asp-validation-for="PaymentStep" class="text-danger"></span></div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>